.headerGrid { grid-area: header; }
.topGrid{grid-area: top; }
.leftGrid { grid-area: left; }
.midGrid { grid-area: mid; }
.rightGrid { grid-area: right; }
.footerGrid { grid-area: footer; }


.gridContainer {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'top top top top top top'
    'left left mid mid right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
  border: 1px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0.75);
}

.gridContainer > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}